.my-group .selectpicker{
	width: 30%;
}
.my-group .input-picker{
	width: 70%;
}
.react-select-box-container{
	width: 100% !important;
}
.react-select-box-options{
	width: 100% !important;
}
.custom-input{
	height: 40px !important;
}
.sub-title{
	font-size: 1.4em;
	font-weight: 500;
}
.stay-area{
	margin-top: 2em;
}
.stay-area textarea{
	min-height: 200px;
}
.align-right{
	text-align: right;
}
.align-left{
	text-align: left;
}
.subcancel-content{
	width: 100%;
	text-align: left;
}
.optional-label{
	float: right;
	color: #b33124;
}
.glyphicon-remove, .glyphicon-ok{
    right: 10px !important;
    width: 40px;
    height: 40px;
    line-height: 40px;
}
.has-error .react-select-box-container{
	border-color: #a94442;
}
.has-success .react-select-box-container{
	border-color: #3c763d;
}
.has-error .react-select-box-empty .react-select-box-label{
	color: #a94442;
}
.has-success .react-select-box-empty .react-select-box-label{
	color: #3c763d;
}
.select-box .glyphicon-remove, .select-box .glyphicon-ok{
	right: 0px !important;
	left: inherit !important;
}
.searchresult_title{
	display: block;
	font-size: 1.2em;
	font-weight: 500;
	color: #5a5a5a;
}
.searchresult_title span{
	font-size: 0.8em;
	font-weight: 700;
}
.align-center{
	text-align: center;
}
label.validation_message{
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 5px;
}
.searchresult_title .cancellation_text{
	margin-left: 20px;
	margin-top: 5px;
	display: block;
}
.sub-title-col{
	font-size: 1.1em;
	color: #9e9e9e;
    border-bottom: 2px dotted;
}
.sub-row{
    margin-top: 20px;
    margin-bottom: 20px;
}